@baloise-cfa:registry=https://pkgs.dev.azure.com/LeadGenerator/FireLeadGenerator/_packaging/cfa-npm-packages/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/LeadGenerator/FireLeadGenerator/_packaging/cfa-npm-packages/npm/registry/:username=LeadGenerator
//pkgs.dev.azure.com/LeadGenerator/FireLeadGenerator/_packaging/cfa-npm-packages/npm/registry/:_password=Y2EzcjQ1ZWJzMzNjdGsyeHBsbnZieG9ieTNmc2FiZ3UzamRncDZxbXh6dG11ZzU0ZnJpcQ==
//pkgs.dev.azure.com/LeadGenerator/FireLeadGenerator/_packaging/cfa-npm-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/LeadGenerator/FireLeadGenerator/_packaging/cfa-npm-packages/npm/:username=LeadGenerator
//pkgs.dev.azure.com/LeadGenerator/FireLeadGenerator/_packaging/cfa-npm-packages/npm/:_password=Y2EzcjQ1ZWJzMzNjdGsyeHBsbnZieG9ieTNmc2FiZ3UzamRncDZxbXh6dG11ZzU0ZnJpcQ==
//pkgs.dev.azure.com/LeadGenerator/FireLeadGenerator/_packaging/cfa-npm-packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

@baloise:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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

registry=https://registry.npmjs.org/